<!-- 
   SCSS USE
   
    @import "../scss/utils/mixin/*.scss";
    @import "theme/*.scss";
    @import "../scss/utils/*.scss";
    @import "../scss/utils/function/*.scss";
    @import"partial/pwa_hp";
    @import "../scss/lib/T-lib/*.scss";
-->

<!--inject-style src="dist/css/main.min.css"-->

<article>
    <p>HELLO</p>
</article>

<!-- inject(js)(inject) [js/compile/main.min.js] -->

<!-- 
   JS USE

    //=require tools/test.js
    //=requite lib/swiper.js
    
-->