<!-- 
   SCSS USE
   
@import "./tools/media_queries";
@import "./mixin/mixin-button";
@import "./mixin/mixin_crop";
@import "./tools/*.scss";

@import "./lib/Alex/**/*.scss";
@import "./lib/T-lib/**/*.scss";

// Animation
@media screen and (min-width: 1024px) {
    @import "./lib/aos/aos.scss";
}

@import "./lib/swiper/swiper.scss";

// LP Noel
@import "./partial/LP_BoutiqueCadeau_Noel_2020.scss";

-->

<!--inject-style src="dist/css/main.min.css"-->

<main class="boutique-cadeau-2020 x-overflow-h">
    <section class="x-relative x-width-100-l x-height-auto-l">

        <!-- Menu fixed Desktop -->
        <article class="boutique-cadeau-2020-menu x-relative x-fixed-l x-width-15-l">
            <!-- Bandeau Livraison -->
            <div class="x-align-center x-margin-b-15-l title-bandeau x-overflow-h x-relative">
                <p class="x-fweight-400 nowrap x-white menu-defile">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l">
                        LIVRAISON OFFERTE À DOMICILE | RETOURS PROLONGÉS 60 JOURS
                    </span>
                </p>

                <p class="x-fweight-400 nowrap x-white menu-defile menu-defile2">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l">
                        LIVRAISON OFFERTE À DOMICILE | RETOURS PROLONGÉS 60 JOURS
                    </span>
                </p>
            </div>
<!-- 
            <div class="display-mobile-flex x-align-center x-margin-b-15-l x-padding-b-20 x-padding-t-20 x-padding-b-10-l x-padding-t-10-l title-bandeau">
                <p class="x-width-100 x-align-center x-fweight-400 x-upper nowrap x-white">
                    <span class="x-fsize-40 x-fsize-30-m">
                        Livraison offerte à domicile | Retours prolongés 60 jours​
                    </span>
                </p>
            </div> -->

            <!-- Titre -->
            <h2 class="x-width-100 x-margin-t-20 x-margin-b-20 x-margin-l-10-l x-margin-t-00-l x-margin-b-10-l x-fweight-800 nowrap letter-s--015 x-flex x-jcontent-c x-jcontent-fs-l x-aitem-c x-black x-margin-b-20 x-margin-b-10-l">
                <span class="x-fsize-80 x-fsize-70-m x-fsize-30-l">
                    Boutique&nbsp;<span class="mobile-space"><br></span>
                    Cadeau
                </span>
            </h2>

            <!-- Navigation -->
            <ul id="list-anchor" class="x-margin-t-20 x-margin-b-20 x-margin-t-00-l x-margin-l-10-l x-margin-b-00-l x-flex x-wrap x-fdirection-r x-fdirection-c-l x-jcontent-c x-aitem-fs">
                <li class="x-width-auto x-width-100-l btn-anchor">
                    <a class="btn-buy-boutiqueC x-upper x-width-85-l barPyjama" href="#barPyjama">
                        <span class="text-btn nowrap">
                            Le bar à pyjamas
                        </span>
                        <span class="line"></span>
                    </a>
                </li>

                <li class="x-width-auto x-width-100-l btn-anchor">
                    <a class="btn-buy-boutiqueC x-upper x-width-85-l CadeauxPrecieux" href="#CadeauxPrecieux">
                        <span class="text-btn nowrap">
                            Les cadeaux d'exception
                        </span>
                        <span class="line"></span>
                    </a>
                </li>

                <li class="x-width-auto x-width-100-l btn-anchor">
                    <a class="btn-buy-boutiqueC x-upper x-width-85-l" href="#JolieSuprise">
                        <span class="text-btn nowrap">
                            Les petits cadeaux
                        </span>
                        <span class="line"></span>
                    </a>
                </li>

                <li class="x-width-auto x-width-100-l btn-anchor">
                    <a class="btn-buy-boutiqueC x-upper x-width-85-l" href="#CadeauxSexy">
                        <span class="text-btn nowrap">
                            Le corner sexy
                        </span>
                        <span class="line"></span>
                    </a>
                </li>

                <li class="x-width-auto x-width-100-l btn-anchor">
                    <a class="btn-buy-boutiqueC x-upper x-width-85-l" href="#CarteCadeaux">
                        <span class="text-btn nowrap">
                            La carte cadeau
                        </span>
                        <span class="line"></span>
                    </a>
                </li>
            </ul>
        </article>

        <!-- Bar à Pyjama -->
        <article id="barPyjama" class="bc-body x-padding-r-30-l x-padding-b-10-l x-padding-l-15-l x-relative x-width-85-l">

            <!-- Titre Bar à pyjama -->
            <div class="x-padding-t-40 x-padding-t-00-l x-padding-b-20 x-padding-b-10-l title-cadeau x-relative x-width-95 x-width-100-l x-height-15-l x-flex x-fdirection-r x-aitem-fe x-jcontent-fs">
                <h3 class="x-fweight-600 x-upper nowrap letter-s--015 x-lineh-14-l x-flex x-black">
                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                        Le bar à pyjamas
                    </span>
                </h3>
                <p class="display-desktop x-margin-l-10 x-fweight-400 x-black nowrap">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                        Prêts-à-offrir ou à composer soi-même, les pyjamas : cadeaux incontournables de l'année
                    </span>
                </p>
            </div>

            <div class="x-width-100 x-height-85-l x-flex x-fdirection-r x-aitem-fs x-jcontent-sb x-jcontent-fs-l bloc-wrap">

                <!-- Item 1 -->
                <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="50"
                    class="x-width-49 x-height-100 x-width-25-l x-height-100-l x-margin-b-10 x-margin-b-00-l">
                    <a class="x-block x-height-100 x-width-100 x-overflow-h x-relative bar-pyj-item" href="$httpUrl('Search-Show','cgid','Xmaspyjama3pieces')$" data-category="Xmaspyjama3pieces">
                        <div class="x-width-auto x-height-100 bar-pyj-img x-overflow-h">
                            <img class="animateImg x-width-100 x-height-100 x-fit-cover"
                                src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama01.jpg?$staticlink$"
                                alt="Visuel pyjama 01">
                        </div>
                        <div class="x-absolute x-bot-00 x-width-95 x-width-100-l x-height-20 bar-pyj-text">
                            <div
                                class="x-height-100 x-align-left x-flex x-fdirection-c x-aitem-fs x-jcontent-c x-padding-l-10-l">
                                <h4 class="x-fweight-600 x-upper letter-s--015 x-flex x-white x-width-75">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        LES 3 PIèCES PRÊT&#8209;À&#8209;OFFRIR​
                                    </span>
                                </h4>

                                <!-- <p class="x-fweight-400 x-white display-desktop x-width-75">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        les pyjamas 3 pièces déjà composés
                                    </span>
                                </p> -->
                            </div>

                            <div class="x-absolute x-flex x-aitem-c x-jcontent-c arrow">
                                <p class="arrow-item x-flex x-aitem-c x-jcontent-c">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        >
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Item 2 -->
                <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150"
                    class="x-width-49 x-height-100 x-width-25-l x-height-100-l x-margin-b-15 x-margin-b-00-l x-margin-l-10-l">
                    <a class="x-block x-height-100 x-width-100 x-overflow-h x-relative bar-pyj-item" href="$httpUrl('Search-Show','cgid','Xmascombi')$" data-category="Xmascombi">
                        <div class="x-width-auto x-height-100 bar-pyj-img x-overflow-h">
                            <img class="x-width-100 x-height-100 x-fit-cover"
                                src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama02.jpg?$staticlink$"
                                alt="Visuel pyjama 02">
                        </div>
                        <div class="x-absolute x-bot-00 x-width-95 x-width-100-l x-height-20 bar-pyj-text">
                            <div
                                class="x-height-100 x-align-left x-flex x-fdirection-c x-aitem-fs x-jcontent-c x-padding-l-10-l">
                                <h4 class="x-fweight-600 x-upper letter-s--015 x-flex x-white x-width-75">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        LES PYJAMAS À COMPOSER​
                                    </span>
                                </h4>

                                <!-- <p class="x-fweight-400 x-white display-desktop x-width-75">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        Imprimé ou uni, composez votre ensemble
                                    </span>
                                </p> -->
                            </div>

                            <div class="x-absolute x-flex x-aitem-c x-jcontent-c arrow">
                                <p class="arrow-item x-flex x-aitem-c x-jcontent-c">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        >
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Item 3 -->
                <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="x-width-49 x-height-100 x-width-25-l x-height-100-l x-margin-l-10-l">
                    <a class="x-block x-height-100 x-width-100 x-overflow-h x-relative bar-pyj-item" href="$httpUrl('Search-Show','cgid','XmasGrandsPlaisirs')$" data-category="XmasGrandsPlaisirs">
                        <div class="x-width-auto x-height-100 bar-pyj-img x-overflow-h">
                            <img class="x-width-100 x-height-100 x-fit-cover"
                                src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama04.jpg?$staticlink$"
                                alt="Visuel pyjama 03">
                        </div>
                        <div class="x-absolute x-bot-00 x-width-95 x-width-100-l x-height-20 bar-pyj-text">
                            <div
                                class="x-height-100 x-align-left x-flex x-fdirection-c x-aitem-fs x-jcontent-c x-padding-l-10-l">
                                <h4 class="x-fweight-600 x-upper letter-s--015 x-flex x-white x-width-75">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        LES PYJAMAS SATINÉS​
                                    </span>
                                </h4>

                                <!-- <p class="x-fweight-400 x-white display-desktop x-width-75">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        coupes chics et couleurs acidulées
                                    </span>
                                </p> -->
                            </div>

                            <div class="x-absolute x-flex x-aitem-c x-jcontent-c arrow">
                                <p class="arrow-item x-flex x-aitem-c x-jcontent-c">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        >
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Item 4 -->
                <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="350"
                    class="x-width-49 x-height-100 x-width-25-l x-height-100-l x-margin-l-10-l">
                    <a class="x-block x-height-100 x-width-100 x-overflow-h x-relative bar-pyj-item" href="$httpUrl('Search-Show','cgid','XmasBest')$" data-category="XmasBest">
                        <div class="x-width-auto x-height-100 bar-pyj-img x-overflow-h">
                            <img class="x-width-100 x-height-100 x-fit-cover"
                                src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama05.jpg?$staticlink$"
                                alt="Visuel pyjama 04">
                        </div>
                        <div class="x-absolute x-bot-00 x-width-95 x-width-100-l x-height-20 bar-pyj-text">
                            <div
                                class="x-height-100 x-align-left x-flex x-fdirection-c x-aitem-fs x-jcontent-c x-padding-l-10-l">
                                <h4 class="x-fweight-600 x-upper letter-s--015 x-flex x-white x-width-75">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        LES PYJAMAS CHILL
                                    </span>
                                </h4>

                                <!-- <p class="x-fweight-400 x-white display-desktop x-width-75">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        coupes cosy et matières réconfortantes
                                    </span>
                                </p> -->
                            </div>

                            <div class="x-absolute x-flex x-aitem-c x-jcontent-c arrow">
                                <p class="arrow-item x-flex x-aitem-c x-jcontent-c">
                                    <span class="x-fsize-35 x-fsize-45-m x-fsize-15-l">
                                        >
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </article>

        <!-- Cadeaux précieux -->
        <article id="CadeauxPrecieux" class="bc-body x-padding-r-30-l x-padding-b-10-l x-padding-l-15-l x-relative x-width-85-l">

            <!-- Titre Cadeaux précieux -->
            <div class="x-padding-t-40 x-padding-t-00-l x-padding-b-20 x-padding-b-10-l title-cadeau x-relative x-width-95 x-width-100-l x-height-15-l x-flex x-fdirection-r x-aitem-fe x-jcontent-fs">
                <h3 class="x-fweight-600 x-upper nowrap letter-s--015 x-lineh-14-l x-flex x-black">
                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                        Les cadeaux d'exception
                    </span>
                </h3>
                <p class="display-desktop x-margin-l-10 x-fweight-400 x-black nowrap">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                        Soie & cachemire : nos collections précieuses
                    </span>
                </p>
            </div>

            <!-- Cadeaux précieux -->
            <div class="x-width-95 x-width-100-l x-relative x-height-85 x-overflow-h x-snap-scroll cadeau-conteneur">
                <div class="x-height-100 x-flex x-aitem-fs x-aitem-c-l x-jcontent-fs x-fdirection-r cadeau-items">
                    
                    <!-- Item 1 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="50"
                    class="x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="animateImg x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau01.jpg?$staticlink$" alt="Cadeau luxe 1">
                        </a>
                    </div>

                    <!-- Item 2 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150"
                    class="x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <!-- <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama01.jpg?$staticlink$" alt=""> -->
                            <video class="x-relative x-width-100 x-height-100 x-fit-cover" preload="none" muted
                            autoplay loop playsinline>
                            <source src="https://assets.etam.cloud/video/LP_Noel_cadeau02.mp4" type="video/mp4"
                                loading="lazy" />
                            Your browser does not support the video tag.
                        </video>
                        </a>
                    </div>

                    <!-- Desktop Item 3/4 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="display-desktop-flex x-width-50 x-width-25-l x-padding-r-05-l x-padding-l-05-l x-height-100 x-flex x-fdirection-c">
                        <a class="x-width-100 x-height-50 x-block x-margin-b-05" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau03.jpg?$staticlink$" alt="">
                        </a>
                        <a class="x-width-100 x-height-50 x-block x-margin-t-05" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau04.jpg?$staticlink$" alt="">
                        </a>
                    </div>

                    <!-- Desktop Item 5/6 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="350"
                    class="display-desktop-flex x-width-50 x-width-25-l x-padding-l-05 x-height-100 x-flex x-fdirection-c x-relative">
                        <a class="x-width-100 x-height-50 x-block x-margin-b-05" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau05.jpg?$staticlink$" alt="">
                        </a>
                        <a class="x-bg-white x-width-100 x-height-50 x-flex x-fdirection-r x-aitem-c x-jcontent-c x-margin-t-05 x-relative" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <p class="x-fweight-400 x-align-center">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-10">Voir toute<br>
                                la sélection</span>
                            </p>

                            <p class="x-padding-l-15 x-padding-l-05-l arrow-not x-relative">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-15">
                                    >
                                </span>
                            </p>
                        </a>
                    </div>
                    
                    <!-- Mobile Item 3 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="display-mobile x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau03.jpg?$staticlink$" alt="Cadeau luxe 3">
                        </a>
                    </div>

                    <!-- Mobile Item 4 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="display-mobile x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau04.jpg?$staticlink$" alt="Cadeau luxe 4">
                        </a>
                    </div>

                    <!-- Mobile Item 5 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="display-mobile x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_cadeau05.jpg?$staticlink$" alt="Cadeau luxe 5">
                        </a>
                    </div>
                    
                    <!-- Mobile -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="350"
                    class="display-mobile x-start-scroll x-width-45 x-width-25-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l x-relative">
                        <a class="x-bg-white x-width-100 x-height-100 x-flex x-aitem-c x-jcontent-c x-relative" href="$httpUrl('Search-Show','cgid','Xmasluxe')$" data-category="Xmasluxe">
                            <p class="x-fweight-400 x-align-center x-relative">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-10">Voir toute<br>
                                la sélection</span>
                            </p>
                            <p class="x-padding-l-15 x-padding-l-05-l arrow-not x-relative">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-15">
                                    >
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </article>

        <!-- Les petits cadeaux -->
        <article id="JolieSuprise" class="bc-body x-padding-r-30-l x-padding-b-10-l x-padding-l-15-l x-relative x-width-85-l">

            <!-- Titre Les petits cadeaux -->
            <div class="x-padding-t-40 x-padding-t-00-l x-padding-b-20 x-padding-b-10-l title-cadeau x-relative x-width-95 x-width-100-l x-height-15-l x-flex x-fdirection-r x-aitem-fe x-jcontent-fs">
                <h3 class="x-fweight-600 x-upper nowrap letter-s--015 x-lineh-14-l x-flex x-black">
                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                        Les petits cadeaux
                    </span>
                </h3>
                <p class="display-desktop x-margin-l-10 x-fweight-400 x-black nowrap">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                        Une sélection de jolis articles à moins de 25€ pour faire plaisir à coup sûr
                    </span>
                </p>
            </div>

            <!-- Les petits cadeaux -->
            <div class="x-width-95 x-width-100-l x-relative x-height-85 x-overflow-h x-snap-scroll jolie-conteneur">
                <div class="x-height-100 x-flex x-aitem-c x-jcontent-fs x-fdirection-r jolie-items">

                    <!-- Rond 1 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150"
                    class="x-start-scroll x-width-40 x-width-20-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l">
                        <a class="jolie-item x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','XmasPetitsPrix')$" data-category="XmasPetitsPrix">
                            <!-- <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama01.jpg?$staticlink$" alt=""> -->
                            <video class="x-relative x-width-100 x-height-100 x-fit-cover x-arrondi" preload="none" muted
                            autoplay loop playsinline>
                                <source src="https://assets.etam.cloud/video/LP_Noel_petit02.mp4" type="video/mp4"
                                    loading="lazy" />
                                Your browser does not support the video tag.
                            </video>
                        </a>
                    </div>

                    <!-- Rond 2 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="50"
                    class="x-start-scroll x-width-40 x-width-20-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l">
                        <a class="jolie-item x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','XmasPetitsPrix')$" data-category="XmasPetitsPrix">
                            <img class="animateImg x-width-100 x-height-100 x-fit-cover lazyload x-arrondi" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_petit01.jpg?$staticlink$" alt="Noel petit prix 2">
                        </a>
                    </div>

                    <!-- Rond 3 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150"
                    class="x-start-scroll x-width-40 x-width-20-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l">
                        <a class="jolie-item x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','XmasPetitsPrix')$" data-category="XmasPetitsPrix">
                            <!-- <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama01.jpg?$staticlink$" alt=""> -->
                            <video class="x-relative x-width-100 x-height-100 x-fit-cover x-arrondi" preload="none" muted
                            autoplay loop playsinline>
                                <source src="https://assets.etam.cloud/video/LP_Noel_petit03.mp4" type="video/mp4"
                                    loading="lazy" />
                                Your browser does not support the video tag.
                            </video>
                        </a>
                    </div>

                    <!-- Rond 4 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="350"
                    class="x-start-scroll x-width-40 x-width-20-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l">
                        <a class="jolie-item x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','XmasPetitsPrix')$" data-category="XmasPetitsPrix">
                            <!-- <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_pyjama01.jpg?$staticlink$" alt=""> -->
                            <video class="x-relative x-width-100 x-height-100 x-fit-cover x-arrondi" preload="none" muted
                            autoplay loop playsinline>
                                <source src="https://assets.etam.cloud/video/LP_Noel_petit04.mp4" type="video/mp4"
                                    loading="lazy" />
                                Your browser does not support the video tag.
                            </video>
                        </a>
                    </div>
                    
                    <!-- Rond 5 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="450"
                    class="x-start-scroll x-width-40 x-width-20-l x-padding-r-05-l x-padding-l-05-l x-relative">
                        <a class="jolie-item x-bg-white x-width-100 x-height-100 x-flex x-aitem-c x-jcontent-c x-relative" href="$httpUrl('Search-Show','cgid','XmasPetitsPrix')$" data-category="XmasPetitsPrix">
                            <p class="x-fweight-400 x-align-center x-flex x-aitem-c x-jcontent-c">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-10">
                                    Voir toute<br>la sélection
                                </span>
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-15 x-relative arrow-round">
                                    >
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </article>

        <!-- Cadeaux sexy -->
        <article id="CadeauxSexy" class="bc-body x-padding-r-30-l x-padding-b-10-l x-padding-l-15-l x-relative x-width-85-l">

            <!-- Titre Cadeaux sexy -->
            <div class="x-padding-t-40 x-padding-t-00-l x-padding-b-20 x-padding-b-10-l title-cadeau x-relative x-width-95 x-width-100-l x-height-15-l x-flex x-fdirection-r x-aitem-fe x-jcontent-fs">
                <h3 class="x-fweight-600 x-upper nowrap letter-s--015 x-lineh-14-l x-flex x-black">
                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                        Le corner sexy
                    </span>
                </h3>
                <p class="display-desktop x-margin-l-10 x-fweight-400 x-black nowrap">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                        Plus que de la lingerie, des cadeaux sexy à (s') offrir
                    </span>
                </p>
            </div>

            <!-- Cadeaux sexy -->
            <div class="x-width-95 x-width-100-l x-relative x-height-85 x-overflow-h x-snap-scroll cadeau-conteneur">
                <div class="x-height-100 x-flex x-aitem-fs x-aitem-c-l x-jcontent-fs x-fdirection-r cadeau-items">
                    <!-- Item 1 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="50"
                    class="x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmassexy')$" data-category="Xmassexy">
                            <img class="animateImg x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_sexy01.jpg?$staticlink$" alt="Noel sexy 1">
                        </a>
                    </div>

                    <!-- Item 2 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150"
                    class="x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmassexy')$" data-category="Xmassexy">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_sexy02.jpg?$staticlink$" alt="Noel sexy 2">
                        </a>
                    </div>

                    <!-- Item 3 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="250"
                    class="x-start-scroll x-width-45 x-width-25-l x-margin-r-30 x-margin-r-00-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l">
                        <a class="x-width-100 x-height-100 x-block x-overflow-h" href="$httpUrl('Search-Show','cgid','Xmassexy')$" data-category="Xmassexy">
                            <img class="x-width-100 x-height-100 x-fit-cover lazyload" data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_sexy03.jpg?$staticlink$" alt="Noel sexy 3">
                        </a>
                    </div>

                    <!-- Item 4 -->
                    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="350"
                    class="x-start-scroll x-width-45 x-width-25-l x-padding-r-05-l x-padding-l-05-l x-height-95 x-height-100-l x-relative">
                        <a class="x-bg-white x-width-100 x-height-100 x-flex x-aitem-c x-jcontent-c x-relative" href="$httpUrl('Search-Show','cgid','Xmassexy')$" data-category="Xmassexy">
                            <p class="x-fweight-400 x-align-center x-flex x-aitem-c x-jcontent-c">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-10">Voir toute<br>
                                la sélection</span>
                            </p>
                            <p class="x-padding-l-15 x-padding-l-05-l arrow-not x-relative">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-11-l x-lineh-15">
                                    >
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>


        </article>

        <!-- Carte cadeaux -->
        <article id="CarteCadeaux" class="bc-body x-padding-r-30-l x-padding-b-10-l x-padding-l-15-l x-relative x-width-85-l">
            <!-- Titre Cadeaux cadeau -->
            <div class="x-padding-t-40 x-padding-t-00-l x-padding-b-20 x-padding-b-10-l title-cadeau x-relative x-width-95 x-width-100-l x-height-15-l x-flex x-fdirection-r x-aitem-fe x-jcontent-fs">
                <h3 class="x-fweight-600 x-upper nowrap letter-s--015 x-flex x-black">
                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                        La carte cadeau
                    </span>
                </h3>
                <p class="display-desktop x-margin-l-10 x-fweight-400 x-black">
                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-16">
                        Faites plaisir sans vous tromper. À envoyer par e-mail à la date que vous souhaitez.​
                    </span>
                </p>
            </div>
            
            <div class="title-cadeau x-width-95 x-width-100-l x-relative x-height-85 x-overflow-h x-flex x-fdirection-cr x-fdirection-r-l x-aitem-c x-jcontent-fs">
                
                <!-- Gauche -->
                <!-- <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="50" class="x-width-100 x-width-50-l x-margin-t-60 x-margin-t-00-l x-relative x-height-50 x-height-100-l x-overflow-h x-padding-r-05">
                    <div class="x-width-95 x-width-100-l x-relative x-height-100 x-flex x-fdirection-c x-fdirection-r-l x-aitem-fs x-jcontent-fs x-aitem-c-l x-jcontent-c-l x-bg-white">
                        <div class="x-width-100 x-width-50-l x-padding-l-20-l x-padding-t-20-l x-padding-b-20-l x-padding-r-20-l">
                            <a class="x-height-100 x-width-100 x-block" href="$httpUrl('Search-Show','cgid','cartesCadeaux')$" data-category="cartesCadeaux">
                                <picture class="x-height-100 x-width-100">
                                    <source srcset="MEDIA/images/pages/2020/lp_noel/LP_Noel_carte_PWA.jpg?$staticlink$"
                                    media="(max-width:1023px)">
                                    <img data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_carte.jpg?$staticlink$"
                                    class="x-width-100 x-height-100 lazyload x-fit-cover zoominout">
                                </picture>
                            </a>
                        </div>
                        <div class="x-padding-r-10-l x-padding-t-20 x-padding-t-00-l x-width-100 x-width-50-l x-flex x-fdirection-c x-aitem-fs x-jcontent-c">
                            <h3 class="x-width-95 x-width-100-l x-margin-auto x-padding-b-20 x-padding-b-10-l x-fweight-600 nowrap letter-s--015 x-flex x-black">
                                <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                                    La carte&nbsp;<span class="mobile-space"><br></span>
                                    cadeau
                                </span>
                            </h3>
                            <p class="x-width-95 x-width-95-l x-margin-auto x-margin-init-l x-fweight-400 x-black x-width-80">
                                <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                    Envoyée par courrier à l’adresse de votre choix.​<br><br>
                                    Valable dans tous les magasins Etam de France métropolitaine et sur Etam.com, 1 an à compter de la date de prise de la commande.​<br><br>
                                </span>
                            </p>

                            <p class="x-width-95 x-width-100-l x-margin-auto x-fweight-600 x-padding-b-10 x-padding-b-05-l x-black nowrap">
                                <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                    Sélectionnez le montant
                                </span>
                            </p>

                            <div class="x-width-95 x-width-80-l x-margin-auto x-margin-init-l x-flex x-wrap x-fdirection-r x-aitem-c x-jcontent-fs price-bloc">
                                <a class="btn-buy-black-bg x-margin-b-05 x-margin-r-05" href="$url('Product-Show','pid','648407499')$">
                                    <span class="text-btn nowrap">
                                        30€
                                    </span>
                                    <span class="line"></span>
                                </a>
                                <a class="btn-buy-black-bg x-margin-b-05 x-margin-r-05" href="$url('Product-Show','pid','648407499')$">
                                    <span class="text-btn nowrap">
                                        50€                                    
                                    </span>
                                    <span class="line"></span>
                                </a>
                                <a class="btn-buy-black-bg x-margin-b-05 x-margin-r-05" href="$url('Product-Show','pid','648407499')$">
                                    <span class="text-btn nowrap">
                                        75€                                    
                                    </span>
                                    <span class="line"></span>
                                </a>
                                <a class="btn-buy-black-bg x-margin-b-05 x-margin-r-05" href="$url('Product-Show','pid','648407499')$">
                                    <span class="text-btn nowrap">
                                        100€                                    
                                    </span>
                                    <span class="line"></span>
                                </a>
                                <a class="btn-buy-black-bg x-margin-b-05 x-margin-r-05" href="$url('Product-Show','pid','648407499')$">
                                    <span class="text-btn nowrap">
                                        150€                                    
                                    </span>
                                    <span class="line"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- Droite -->
                <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="150" class="x-width-100 x-width-50-l x-relative x-height-50 x-height-100-l x-overflow-h x-padding-b-50 x-padding-b-00-l">
                    <div class="x-width-95 x-width-100-l x-relative x-height-100 x-bg-white">
                        <a class="x-height-100 x-width-100 x-flex x-fdirection-c x-fdirection-r-l x-aitem-fs x-jcontent-fs x-aitem-c-l x-jcontent-c-l" href="$httpUrl('Search-Show','cgid','cartesCadeaux')$" data-category="cartesCadeaux">
                            <div class="x-width-100 x-width-50-l x-padding-l-20-l x-padding-t-20-l x-padding-b-20-l x-padding-r-20-l">
                                    <picture class="x-height-100 x-width-100">
                                        <source srcset="MEDIA/images/pages/2020/lp_noel/LP_Noel_ecarte_PWA.jpg?$staticlink$"
                                        media="(max-width:1023px)">
                                        <img data-src="MEDIA/images/pages/2020/lp_noel/LP_Noel_ecarte.jpg?$staticlink$"
                                        class="x-width-100 x-height-100 lazyload x-fit-cover zoominout" alt="E-carte cadeau visuel">
                                    </picture>
                            </div>
                            <div class="x-padding-r-10-l x-padding-t-20 x-padding-t-00-l x-width-100 x-width-50-l x-flex x-fdirection-c x-aitem-fs x-jcontent-c">
                                <h3 class="x-width-95 x-width-100-l x-margin-auto x-padding-b-20 x-padding-b-10-l x-fweight-600 nowrap letter-s--015 x-flex x-black">
                                    <span class="x-fsize-45 x-fsize-35-m x-fsize-20-l">
                                        La e-carte&nbsp;<span class="mobile-space"><br></span>  
                                        cadeau
                                    </span>
                                </h3>
                                <p class="x-width-95 x-width-95-l x-margin-auto x-margin-init-l x-fweight-400 x-black">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        Le cadeau de dernière minute à envoyer à la date et à l'heure de votre choix​<br><br>
                                        Le plus ? Vous pouvez personnaliser le message.​<br><br>
                                        <!-- Valable dans tous les magasins Etam de France métropolitaine et sur Etam.com​<br><br> -->
                                    </span>
                                </p>

                                <p class="x-width-95 x-width-100-l x-margin-auto x-fweight-600 x-padding-b-10 x-padding-b-05-l x-black nowrap">
                                    <span class="x-fsize-40 x-fsize-30-m x-fsize-10-l x-lineh-10">
                                        Sélectionnez le montant
                                    </span>
                                </p>

                                <div class="x-relative x-index-3 x-width-95 x-width-80-l x-margin-auto x-margin-init-l x-flex x-wrap x-fdirection-r x-aitem-c x-jcontent-fs price-bloc">
                                    <p class="btn-buy-black-bg x-margin-b-05 x-margin-r-05">
                                        <span class="text-btn nowrap">
                                            30€
                                        </span>
                                        <span class="line"></span>
                                    </p>
                                    <p class="btn-buy-black-bg x-margin-b-05 x-margin-r-05">
                                        <span class="text-btn nowrap">
                                            50€                                    
                                        </span>
                                        <span class="line"></span>
                                    </p>
                                    <p class="btn-buy-black-bg x-margin-b-05 x-margin-r-05">
                                        <span class="text-btn nowrap">
                                            75€                                    
                                        </span>
                                        <span class="line"></span>
                                    </p>
                                    <p class="btn-buy-black-bg x-margin-b-05 x-margin-r-05">
                                        <span class="text-btn nowrap">
                                            100€                                    
                                        </span>
                                        <span class="line"></span>
                                    </p>
                                    <p class="btn-buy-black-bg x-margin-b-05 x-margin-r-05">
                                        <span class="text-btn nowrap">
                                            150€                                    
                                        </span>
                                        <span class="line"></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </article>

    </section>
</main>

<!-- Condition pour la PWA/Tablette -->
<script>
// $(window).on('resize', function(){
    if ($(window).width() > 1023) {
        document.write('<script type="text/javascript" src="MEDIA/js/aos/dist/aos.js?$staticlink$"><\/script>');
    }
// });
</script>

<!-- inject(js)(inject) [js/compile/main.min.js] -->

<!-- 
   JS USE

init ();
function init () {
    if (window.$) {     
        // =require tools/smooth_scroll.js
        // =require partial/LP_BoutiqueCadeau_Noel_2020.js
    }
    else {
        setTimeout(init);
    }
}

-->