.x-upper {
  text-transform: uppercase;
}
.x-text-str {
  text-align: left;
}

.x-text-ctr {
  text-align: center;
}

.x-text-end {
  text-align: right;
}

.t-white {
  color: white;
}

.t-black {
  color: black;
}
.t-pink {
  color: #ec80a9;
}

@media screen and (min-width: 48em) {
  .x-initial_sm {
    text-transform: initial;
  }

  .x-upper_sm {
    text-transform: uppercase;
  }

  .x-text-str_sm {
    text-align: left;
  }

  .x-text-ctr_sm {
    text-align: center;
  }

  .x-text-end_sm {
    text-align: right;
  }

  .t-white_sm {
    color: white;
  }

  .t-black_sm {
    color: black;
  }
}

@media screen and (min-width: 64em) {
  .x-none_md {
    display: none;
  }

  .x-initial_md {
    text-transform: initial;
  }

  .x-upper_md {
    text-transform: uppercase;
  }

  .x-text-str_md {
    text-align: left;
  }

  .x-text-ctr_md {
    text-align: center;
  }

  .x-text-end_md {
    text-align: right;
  }

  .t-white_md {
    color: white;
  }

  .t-black_md {
    color: black;
  }
}

.titleCropFont__lh08 {
  @include text-crop($line-height: 0.8);
}
.titleCropFont__lh07 {
  @include text-crop($line-height: 0.7);
}

.textCropFont__lh10 {
  @include text-crop($line-height: 1);
}

.textCropFont__lh12 {
  @include text-crop($line-height: 1.2);
}

.textCropFont__lh14 {
  @include text-crop($line-height: 1.4);
}

.textCropFont__lh20 {
  @include text-crop($line-height: 2);
}

.textCropFont__lh18 {
  @include text-crop($line-height: 1.8);
}

.init-typo {
  @media screen and (min-width: 3840px) {
    font-size: 0.4vw;
  }
  @media screen and (min-width: 2560px) {
    font-size: 0.6vw;
  }
  @media screen and (min-width: 1920px) {
    font-size: 0.73vw;
  }
  @media screen and (min-width: 1221px) {
    font-size: 0.83vw;
  }
  @media screen and (min-width: 780px) {
    font-size: 0.83vw;
  }
  @media screen and (max-width: 780px) {
    font-size: 1.6vw;
  }
  @media screen and (max-width: 680px) {
    font-size: 1.6vw;
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.fs-05 {
  font-size: 0.5em;
}

.fs-06 {
  font-size: 0.6em;
}

.fs-07 {
  font-size: 0.7em;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-09 {
  font-size: 0.9em;
}

.fs-10 {
  font-size: 1em;
}

.fs-11 {
  font-size: 1.1em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-13 {
  font-size: 1.3em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-15 {
  font-size: 1.5em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-17 {
  font-size: 1.7em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-19 {
  font-size: 1.9em;
}

.fs-20 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-30 {
  font-size: 3em;
}

.fs-40 {
  font-size: 4em;
}

.fs-45 {
  font-size: 4.5em;
}

.fs-50 {
  font-size: 5em;
}

.fs-60 {
  font-size: 6em;
}

.lh-11 {
  line-height: 1;
}

.lh-11 {
  line-height: 1.1;
}

.lh-12 {
  line-height: 1.2;
}

.lh-13 {
  line-height: 1.3;
}

.lh-14 {
  line-height: 1.4;
}

.lh-15 {
  line-height: 1.5;
}

.lh-16 {
  line-height: 1.6;
}

.lh-17 {
  line-height: 1.7;
}

.lh-18 {
  line-height: 1.8;
}

.lh-19 {
  line-height: 1.9;
}

.lh-20 {
  line-height: 2;
}

.lspc-3 {
  letter-spacing: 0.03em;
}

.lspc-5 {
  letter-spacing: 0.5em;
}

.lspc-6 {
  letter-spacing: 0.6em;
}

.lspc-06 {
  letter-spacing: 0.06em;
}

.lspc-min-06 {
  letter-spacing: -0.06em;
}

@media screen and (min-width: 48em) {
  .fw-100_sm {
    font-weight: 100;
  }

  .fw-200_sm {
    font-weight: 200;
  }

  .fw-300_sm {
    font-weight: 300;
  }

  .fw-400_sm {
    font-weight: 400;
  }

  .fw-500_sm {
    font-weight: 500;
  }

  .fw-600_sm {
    font-weight: 600;
  }

  .fs-05_sm {
    font-size: 0.5em;
  }

  .fs-06_sm {
    font-size: 0.6em;
  }

  .fs-07_sm {
    font-size: 0.7em;
  }

  .fs-08_sm {
    font-size: 0.8em;
  }

  .fs-10_sm {
    font-size: 1em;
  }

  .fs-11_sm {
    font-size: 1.1em;
  }

  .fs-12_sm {
    font-size: 1.2em;
  }

  .fs-13_sm {
    font-size: 1.3em;
  }

  .fs-14_sm {
    font-size: 1.4em;
  }

  .fs-15_sm {
    font-size: 1.5em;
  }

  .fs-16_sm {
    font-size: 1.6em;
  }

  .fs-17_sm {
    font-size: 1.7em;
  }

  .fs-18_sm {
    font-size: 1.8em;
  }

  .fs-19_sm {
    font-size: 1.9em;
  }

  .fs-20_sm {
    font-size: 2em;
  }

  .fs-25_sm {
    font-size: 2.5em;
  }

  .fs-30_sm {
    font-size: 3em;
  }

  .fs-40_sm {
    font-size: 4em;
  }

  .fs-45_sm {
    font-size: 4.5em;
  }

  .fs-50_sm {
    font-size: 5em;
  }

  .fs-60_sm {
    font-size: 6em;
  }

  .lh-11_sm {
    line-height: 1;
  }

  .lh-11_sm {
    line-height: 1.1;
  }

  .lh-12_sm {
    line-height: 1.2;
  }

  .lh-13_sm {
    line-height: 1.3;
  }

  .lh-14_sm {
    line-height: 1.4;
  }

  .lh-15_sm {
    line-height: 1.5;
  }

  .lh-16_sm {
    line-height: 1.6;
  }

  .lh-17_sm {
    line-height: 1.7;
  }

  .lh-18_sm {
    line-height: 1.8;
  }

  .lh-19_sm {
    line-height: 1.9;
  }

  .lh-20_sm {
    line-height: 2;
  }
}

@media screen and (min-width: 64em) {
  .fw-100_md {
    font-weight: 100;
  }

  .fw-200_md {
    font-weight: 200;
  }

  .fw-300_md {
    font-weight: 300;
  }

  .fw-400_md {
    font-weight: 400;
  }

  .fw-500_md {
    font-weight: 500;
  }

  .fw-600_md {
    font-weight: 600;
  }

  .fs-05_md {
    font-size: 0.5em;
  }

  .fs-06_md {
    font-size: 0.6em;
  }

  .fs-07_md {
    font-size: 0.7em;
  }

  .fs-08_md {
    font-size: 0.8em;
  }
  .fs-09_md {
    font-size: 0.9em;
  }
  .fs-10_md {
    font-size: 1em;
  }

  .fs-11_md {
    font-size: 1.1em;
  }

  .fs-12_md {
    font-size: 1.2em;
  }

  .fs-13_md {
    font-size: 1.3em;
  }

  .fs-14_md {
    font-size: 1.4em;
  }

  .fs-15_md {
    font-size: 1.5em;
  }

  .fs-16_md {
    font-size: 1.6em;
  }

  .fs-17_md {
    font-size: 1.7em;
  }

  .fs-18_md {
    font-size: 1.8em;
  }

  .fs-19_md {
    font-size: 1.9em;
  }

  .fs-20_md {
    font-size: 2em;
  }

  .fs-25_md {
    font-size: 2.5em;
  }

  .fs-30_md {
    font-size: 3em;
  }

  .fs-40_md {
    font-size: 4em;
  }

  .fs-45_md {
    font-size: 4.5em;
  }

  .fs-50_md {
    font-size: 5em;
  }

  .fs-60_md {
    font-size: 6em;
  }
  .fs-70_md {
    font-size: 7em;
  }
  .fs-80_md {
    font-size: 8em;
  }
  .fs-90_md {
    font-size: 9em;
  }
  .lh-11_md {
    line-height: 1;
  }

  .lh-11_md {
    line-height: 1.1;
  }

  .lh-12_md {
    line-height: 1.2;
  }

  .lh-13_md {
    line-height: 1.3;
  }

  .lh-14_md {
    line-height: 1.4;
  }

  .lh-15_md {
    line-height: 1.5;
  }

  .lh-16_md {
    line-height: 1.6;
  }

  .lh-17_md {
    line-height: 1.7;
  }

  .lh-18_md {
    line-height: 1.8;
  }

  .lh-19_md {
    line-height: 1.9;
  }

  .lh-20_md {
    line-height: 2;
  }
}

@media screen and (min-width: 1920px) {
  .fw-100_lg {
    font-weight: 100;
  }

  .fw-200_lg {
    font-weight: 200;
  }

  .fw-300_lg {
    font-weight: 300;
  }

  .fw-400_lg {
    font-weight: 400;
  }

  .fw-500_lg {
    font-weight: 500;
  }

  .fw-600_lg {
    font-weight: 600;
  }

  .fs-05_lg {
    font-size: 0.5em;
  }

  .fs-06_lg {
    font-size: 0.6em;
  }

  .fs-07_lg {
    font-size: 0.7em;
  }

  .fs-08_lg {
    font-size: 0.8em;
  }

  .fs-10_lg {
    font-size: 1em;
  }

  .fs-11_lg {
    font-size: 1.1em;
  }

  .fs-12_lg {
    font-size: 1.2em;
  }

  .fs-13_lg {
    font-size: 1.3em;
  }

  .fs-14_lg {
    font-size: 1.4em;
  }

  .fs-15_lg {
    font-size: 1.5em;
  }

  .fs-16_lg {
    font-size: 1.6em;
  }

  .fs-17_lg {
    font-size: 1.7em;
  }

  .fs-18_lg {
    font-size: 1.8em;
  }

  .fs-19_lg {
    font-size: 1.9em;
  }

  .fs-20_lg {
    font-size: 2em;
  }

  .fs-25_lg {
    font-size: 2.5em;
  }

  .fs-30_lg {
    font-size: 3em;
  }

  .fs-40_lg {
    font-size: 4em;
  }

  .fs-45_lg {
    font-size: 4.5em;
  }

  .fs-50_lg {
    font-size: 5em;
  }

  .fs-60_lg {
    font-size: 6em;
  }

  .lh-11_lg {
    line-height: 1;
  }

  .lh-11_lg {
    line-height: 1.1;
  }

  .lh-12_lg {
    line-height: 1.2;
  }

  .lh-13_lg {
    line-height: 1.3;
  }

  .lh-14_lg {
    line-height: 1.4;
  }

  .lh-15_lg {
    line-height: 1.5;
  }

  .lh-16_lg {
    line-height: 1.6;
  }

  .lh-17_lg {
    line-height: 1.7;
  }

  .lh-18_lg {
    line-height: 1.8;
  }

  .lh-19_lg {
    line-height: 1.9;
  }

  .lh-20_lg {
    line-height: 2;
  }

  .lspc-3_lg {
    letter-spacing: 0.03em;
  }

  .lspc-6_lg {
    letter-spacing: 0.06em;
  }

  .lspc-min-06_lg {
    letter-spacing: -0.06em;
  }
}
