$bgcolor-cadeau : #fceeee;
$color-bandeau-cadeau: #eca3a3;

// Pour cacher les produits
.products,.filters,.searchResultWrapper,.paginationWrapper,.categoriesChildFilter{
    display: none !important;
}

.h1-title{
    height: 0!important;
    overflow: hidden!important;
    margin: 0!important;
    padding: 0!important;
}

.x-width-49{
    width: 49%!important;
}

.title-cadeau{
    left: 5%;
    @include min1024 {
        left: 0;
    }
}

.boutique-cadeau-2020{

    background-color: $bgcolor-cadeau;

    // Menu
    .boutique-cadeau-2020-menu{

        @include min1024 {
            
        }

        .title-bandeau{
            background-color: $color-bandeau-cadeau;
            width: 100%;
            height: 8em;
            @include min1024 {
                width: 100%;
                height: 3em;
            }
            .menu-defile{
                margin: 0 auto;
                white-space: nowrap;
                overflow: hidden;
                position: absolute;
                z-index: 5;
                padding: 0 1em;
                top: 30%;
                @include min1024 {
                    top: 40%;
                }
                span{
                    animation: defilement-rtl 10s infinite linear;
                    padding-left: 100%;
                    // width: 210% !important;
                    display: inline-block;
                    margin: 0 5%;
                }


                // @include min1024 {
                //     // animation: defilement-rtl-desktop 7s infinite linear;
                //     // width: 100% !important;
                // }
    
                @keyframes defilement-rtl {
                    0% {
                      transform: translate3d(0,0,0); /* position initiale à droite */
                    }
                    100% {
                      transform: translate3d(-110%,0,0); /* position finale à gauche */
                    }
                }

                // @keyframes defilement-rtl-desktop {
                //     0% {
                //       transform: translate3d(0,0,0); /* position initiale à droite */
                //     }
                //     100% {
                //       transform: translate3d(-100%,0,0); /* position finale à gauche */
                //     }
                // }
            }

            .menu-defile2{
                span{
                    animation-delay: 5s;
                }

            }
        }

        .btn-anchor{
            margin: 1em 2em;
            list-style-type: none;

            @include min1024 {
                margin: 0.25em 0em
            }
        }
    }

    //Corps
    .bc-body{
        .bloc-wrap{
            flex-wrap: wrap;
            @include min1024 {
                flex-wrap: nowrap;
            }
        }

        // .animateImg{
        //     transition: 0.2s linear;
        //     animation: animImg 3s infinite ;
        // }
        // .animateImg:hover{
        //     animation-play-state : paused;
        //     filter: saturate(0.6);
        // }

        // img:not(.animateImg){
        //     transition: 0.2s linear;
        // }

        // img:not(.animateImg):hover{
        //     transform: scale(1.03);
        // }

        .arrow{
            // right: 0%;
            // @include min1024 {
                right: 5%;
            // }
            top: 0;
            bottom: 0;
            // animation: animArrow 1s infinite ;
            // @include min768 {
            //     animation: none;
            // }
            .arrow-item{
                background-color: $white;
                border-radius: 50%;
                width: 6em;
                height: 6em;
                @include min1024 {
                    width: 2em;
                    height: 2em;
                }
            }
        }

        .arrow-not{
            animation: animArrowNot 1s infinite ;
        }

        .arrow-round{
            animation: animArrowRound 1s infinite ;
        }

        @keyframes animArrow {
            0% {
                right: 10%;
            }
            50% {
                right: 8%;
            }
            100% {
                right: 10%;
            }
        }

        @keyframes animArrowNot {
            0% {
                right: 0%;
            }
            50% {
                right: -2%;
            }
            100% {
                right: 0%;
            }
        }

        @keyframes animArrowRound {
            0% {
                right: -2%;
            }
            50% {
                right: -4%;
            }
            100% {
                right: -2%;
            }
        }

    }

    .btn-buy-boutiqueC {
        font-weight: 500;
        background-color: $white;

        @include t-button($font: 2.5em, $font-m: 2em, $font-l: 0.65em, $font-xl: 0.65em,
            $Pad: 1.3vh 3vh, $Pad-l: 1.5vh 4vh,
            $largeur:initial, $largeur-l:initial, $largeur-xl:initial,
            // Color
            $colorborder: $white, $colortext: $black, $colorhoverborder: $white, $colorhover: $white, $colorhovertext: $color-bandeau-cadeau, // Color desktop
            $colorborder-l: $white, $colortext-l: $black, $colorhoverborder-l: $white, $colorhover-l: $white, $colorhovertext-l: $color-bandeau-cadeau, );

        .line{
            background-color: $white;
        }

        transition: 0.2s linear;

        &:hover{
            @include min1024 {
                margin-left: 3em;
            }
        }
    }

    .active-archor{
            @include min1024 {
                margin-left: 3em;
            }
            .text-btn{
                color: $color-bandeau-cadeau !important;
            }
    }

    #barPyjama{
        .bar-pyj-item{
            .bar-pyj-text{
                left: 5%;
                transition: 0.2s linear;
                @include min1024 {
                    left: 0%;
                }
            }

            & img{
                transition: 0.2s linear;
            }

            &:hover img{
                transform: scale(1.03);
            }
        }

        &.bc-body{
            @include min1024 {
                left: 15%;
                height: calc(85vh - 155px);
            }
        }
    }

    #CadeauxPrecieux,#CadeauxSexy{
        &.bc-body{
            height: 40vh;
            @include min768 {
                height: 70vh;
            }
            @include min1024 {
                left: 15%;
                height: calc(85vh - 155px);
            }
        }

        .cadeau-conteneur{
            left: 5%;
            @include min1024 {
                left: 0;
            }
           .cadeau-items{
                width: 180%;
                @include min1024 {
                    width: 100%;
                }
           }
        }

        .x-snap-scroll{
            overflow-y: scroll;
            overflow-x: visible;
            scroll-snap-type: x mandatory;
            @include min1024 {
                overflow: hidden
            }
            .x-start-scroll{
                scroll-snap-align: start;
            }
        }
    }

    #CadeauxPrecieux{
        .cadeau-conteneur{
            left: 5%;
            @include min1024 {
                left: 0;
            }
           .cadeau-items{
                width: 270%;
                @include min1024 {
                    width: 100%;
                }
           }
        }
    }

    #JolieSuprise{
        &.bc-body{
            height: 30vh;
            @include min768 {
                height: 50vh;
            }
            @include min1024 {
                left: 15%;
            }
        }

        .jolie-conteneur{
            left: 5%;
            @include min1024 {
                left: 0;
            }
           .jolie-items{
                width: 200%;
                @include min1024 {
                    width: 100%;
                }
                .jolie-item{
                    border-radius: 50%;
                    position: relative;
                    padding-top: 100%;
                    video,img,p{
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                }
           }
        }
        .x-snap-scroll{
            overflow-y: scroll;
            overflow-x: visible;
            scroll-snap-type: x mandatory;
            @include min1024 {
                overflow: hidden
            }
            .x-start-scroll{
                scroll-snap-align: start;
            }
        } 
    }

    #CarteCadeaux{
        &.bc-body{
            @include min1024 {
                left: 15%;
                height: calc(85vh - 155px);
            }
        }

        .price-bloc{
            a{
            }
        }
    }

    @keyframes animImg {
        0% {
            transform: scale(1.0);
        }
        50% {
            transform: scale(1.03);
        }
        100% {
            transform: scale(1.0);
        }
    }    

}


.letter-s-02{
    letter-spacing: 0.2em;
}

.letter-s-05{
    letter-spacing: 0.5em;
}

.letter-s--01{
    letter-spacing: -0.1em;
}

.letter-s--015{
    letter-spacing: -0.1em;
}

.letter-s--005{
    letter-spacing: -0.05em;
}

.letter-s--025{
    letter-spacing: -0.25em;
}

.letter-s-08{
    letter-spacing: 0.8em;
}

.letter-s-03{
    letter-spacing: .3em;
}