@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
#global_pwa_hp {
    font-family: "Work Sans", sans-serif !important;
    background-color: #f5f1f1;
    width: 100vw;
    img {
        display: grid;
    }
    p,
    h3 {
        margin: 0;
    }
    textarea,
    input.text,
    input[type="text"],
    input[type="button"],
    input[type="submit"],
    input[type="email"],
    .input-checkbox {
        -webkit-appearance: none;
        border-radius: 0;
    }
    .grid_liste {
        display: grid;
        grid-template: auto/1.5fr 0.7fr;
    }
    .scale0 {
        transition: all 0.3s ease;
        transform: scale(0);
        opacity: 0;
    }
    .scale1 {
        transform: scale(1)!important;
        transition: all 0.4s ease;
        opacity: 1;
    }
    .opacity0 {
        opacity: 0;
        z-index: 0!important;
        transition: all 0.4s ease;
    }
    .opacity1 {
        opacity: 1!important;
        transition: all 0.4s ease;
        z-index: 2!important;
    }
    .slide2 {
        opacity: 0;
        z-index: 0;
        transition: all 0.4s ease;
    }
    .slide1 {
        transition: all 0.4s ease;
        z-index: 2;
    }
    @keyframes animSlide1 {
        0%,
        50%,
        90% {
            opacity: 1;
            z-index: 2;
        }
        60%,
        80% {
            opacity: 0;
            z-index: 0;
        }
    }
    @keyframes animSlide2 {
        0%,
        40%,
        to {
            opacity: 0;
            z-index: 0;
        }
        50%,
        90% {
            opacity: 1;
            z-index: 2;
        }
    }
    .open_liste {
        position: fixed;
        right: 2%;
        top: 18%;
        background-color: white;
        border-radius: 19px 5px 5px 19px;
        transform-origin: left;
        -webkit-box-shadow: 4px 5px 10px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 5px 10px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 5px 10px 2px rgba(0, 0, 0, 0.1);
        .box_arrow___liste_open {
            z-index: 11;
            background: #e5cdc5;
            border-radius: 50px;
            height: 5.5em;
            width: 5.5em;
            position: relative;
            img {
                width: 60%;
                position: absolute;
                left: 13%;
                top: 30%;
                transform: rotate(-90deg);
            }
        }
    }
    .liste {
        position: fixed;
        right: 2%;
        top: 18%;
        width: 85vw;
        height: 84em;
        //border: 1px solid black;
        overflow: hidden;
        transform-origin: right top;
        transform: scale(0);
        .box_cross___liste {
            z-index: 11;
            margin-inline-end: 2em;
            margin-block-start: 1em;
            background: #e5cdc5;
            border-radius: 50px;
            height: 5.5em;
            width: 5.5em;
            position: relative;
            p {
                font-weight: 300;
                font-size: 4em;
                transform: rotate(45deg);
                position: absolute;
                top: 6%;
                left: 30%;
                color: white;
            }
        }
        .box_arrow___liste {
            z-index: 11;
            background: #e5cdc5;
            border-radius: 50px;
            height: 5.5em;
            width: 5.5em;
            position: relative;
            margin-block-end: 1em;
            img {
                width: 60%;
                position: absolute;
                left: 20%;
                top: 29%;
            }
        }
        .insideliste {
            border-radius: 10px;
            background-color: white;
            padding-bottom: 5em;
            z-index: 10;
        }
        .slide {
            background-color: #fbfaf9;
        }
        .slide__newletter {
            background: #e5cdc5;
            input#liste_newsletter_email {
                border: 0 !important;
                color: white !important;
                border-bottom: 1px solid white !important;
                background-color: #e5cdc5 !important;
                font-size: 2em !important;
            }
            #send {
                background-color: #ddbdb1;
                border: 0;
                border-radius: 50px;
                padding: 1.5vh 3vh;
                font-size: 1.5em !important;
            }
        }
    }
    .sticker__wecare {
        background-color: white;
        margin-block-start: 10em;
        padding: 1em 0;
        .line {
            background-color: black;
            height: 1px;
        }
    }
    .bandeau {
        width: 100vw;
        background-color: #e0bba8;
        .cross {
            font-size: 7em;
            transform: rotate(45deg);
            margin-inline-end: 0.1em;
            color: white;
            font-weight: 300;
        }
        .swiper-container {
            width: 92vw;
            height: 8em;
            margin: 0 !important;
            .swiper-button-prev::after,
            .swiper-button-next::after {
                font-size: 0.8em;
                color: white;
            }
        }
    }
}

.popin-liste {
    height: 35em;
    background-color: #fff;
    width: calc(100% - 30px);
    top: 10em;
    right: 10px;
    border-radius: 5px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.05);
    .arrow-reduce {
        top: 5%;
        left: 5%;
        cursor: pointer;
        transition: 0.2s linear;
    }
    .arrow-delete {
        top: 5%;
        right: 5%;
        cursor: pointer;
        transition: 0.2s linear;
    }
    .popin-liste-title {
        transition: 0.2s linear;
        p {
            letter-spacing: 0.1em;
            height: initial;
            opacity: 1;
            width: initial;
            overflow: hidden;
            transition: 0.5s linear;
        }
    }
    .title-list {
        transition: 0.5s linear;
        height: initial;
        opacity: 1;
        width: initial;
        overflow: hidden;
        h4:before {
            content: "\2022";
            font-size: 30px;
            padding-right: 5px;
            color: #ddbdb1;
        }
        p {
            letter-spacing: 0.05em;
        }
    }
    input#liste_newsletter_email {
        border: 0 !important;
        border-bottom: 1px solid #d7d7d7 !important;
    }
    #send {
        background-color: #ddbdb1;
        border: 0;
        border-radius: 50px;
        padding: 0 1em;
    }
}

.popin-open {
    .br-close {
        display: none;
    }
    .logo_pwa-OR {
        width: 60%;
    }
    .fs-OR {
        font-size: 2em;
    }
    .octobre-rose {
        &::before {
            content: url("ETAM-home-contents/2020/s42/logoRuban.svg?$staticlink$");
            width: 1.2em;
            position: relative;
            height: 100%;
            padding-right: 5px;
            top: 0em;
        }
    }
}

.popin-close {
    .fs-OR {
        font-size: 1.5em;
    }
    .logo_pwa-OR {
        width: 100%;
    }
    width: 8em;
    height: 4em;
    .popin-liste-title {
        padding-bottom: 0 !important;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -8%;
        h2 {
            text-align: center;
            padding-right: 0;
            white-space: initial;
        }
        p {
            height: 0;
            opacity: 0;
            width: 0;
            overflow: hidden;
        }
    }
    .title-list,
    .arrow-delete {
        height: 0;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }
    .arrow-reduce {
        transform: rotate(180deg);
        width: 14% !important;
        top: 25% !important;
        left: 3% !important;
    }
    .octobre-rose {
        &::before {
            content: url("ETAM-home-contents/2020/s42/logoRuban.svg?$staticlink$");
            width: 1.5em;
            position: relative;
            height: 100%;
            padding-right: 5px;
            top: 0.7em;
            left: 0.5em;
        }
    }
}

.popin-close.rose {
    width: 11em;
    height: 4em;
}

.popin-open.rose {
    height: 20em;
}

@media screen and (max-width: 1023px) {
    .global_pwa_hp>h3 {
        margin: 0;
    }
    .bannerojk {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        /*overflow-x: visible;*/
    }
    .bannerojk::-webkit-scrollbar {
        display: none;
    }
    .bannerojk a {
        width: 80vw;
    }
    .bannerojk>.topScrool {
        width: fit-content;
    }
    .scotch {
        background-color: rgba(0, 0, 0, 0.05);
        transform: rotate(-5deg);
    }
    .day {
        letter-spacing: 0.2em;
    }
}