// ??? Grid
.hp-2020 picture {
    display: block !important;
}

.overflow-V{
    overflow: visible!important;
}

$bg-color : #f5f1f1;

.hp-2020{
    background-color: $bg-color;
}

.bHeight{
    height: calc(90vh - 55px);
    @include min768 {
        height: calc(100vh - 55px);
    }
    @include min1024 {
        height: calc(91vh - 155px);
    }
}

.bHeight-notPWA{
    height: calc(95vh - 55px);
    @include min768 {
        height: calc(80vh - 55px);
    }
    @include min1024 {
        height: calc(91vh - 155px);
    }
}

// -------------- Edito
.BH-edito{

    .lingerie-position{
        bottom: 2em;
        right: 2em;
    }

    .picto-item{
        @include min1024 {
        top: initial;
        }
        margin: 1em auto;
        object-fit: contain;
    }

}
// -------------- Fin Edito

// -------------- PINK now
.BH-pink{
    .pink-visuel-1{
        left: 0;
        @include min1024 {
            left: initial;
        }
    }

    .pink-visuel-2{
        right: 0;
        @include min1024 {
            right: initial;
        }
    }

    .bandeau-item-promo{
        bottom: 5%;
        width: 100%;
        background-color: #e0bba7;
    }
}
// -------------- Fin PINK now

// -------------- incontournable
.BH-inco{
    .bg-inco{
        background-color: #fbe4eb;
        .title-inco{
            padding-bottom: 5px;
        }
    }
}
// -------------- FIN incontournable

// -------------- Edition collector
.BH-EditionC{
    .collector-visual1{
        left: 0;
    }

    .collector-visual2{
        right: 0;
    }
}

// -------------- Fin Edition collector

// -------------- Monochrome
.BH-mono{
    .mono-position{
        top : 0;
    }
}
// -------------- Fin Monochrome

// -------------- Nouveau confort
.BH-cocooning{

}
// -------------- Fin Nouveau confort

// -------------- Nouveau confort
.BH-confort{

}
// -------------- Fin Nouveau confort

// -------------- Pyj
.BH-pyjama{
    .pink-visuel-1{
        left: 0;
    }

    .pink-visuel-2{
        right: 0;
    }
}
// -------------- Fin Pyj

// -------------- Yes
.BH-Yes{
    background: linear-gradient(to bottom, $bg-color 0%,$bg-color 30%,#fbe4eb 30%,#fbe4eb 100%);

    .yes-logo{
        top: 40%;
        left: 0%;
        @include min1024 {
            top: 45%;
            left: -10%;
        }
    }

    .margin-t-03{
        margin-top: 0.3em;
    }

    .img-port{
        transition: 0.2s linear;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
}
// -------------- Fin Yes

// -------------- Loveprice
.BH-loveprice{

    height: calc(2*(90vh - 55px));
    @include min768 {
        height: calc(2*(100vh - 55px));
    }
    @include min1024 {
        height: calc(91vh - 155px);
    }

    background: rgb(251,200,214);
    background: linear-gradient(180deg, rgba(251,200,214,1) 40%, rgba(243,93,178,1) 70%);

    .title-rotation{
        &.-left{
            transform: rotate(-90deg);
            left: -50%;
            position: relative;
        }

        &.-right{
            transform: rotate(-90deg);
            right: 20%;
            position: relative;
        }
    }
}
// -------------- Fin Loveprice


// -------------- Body
.BH-body{
    .title-now{
        letter-spacing: 0.2em;
        padding-bottom: 5px;
    }
}
// -------------- Fin Body

.letter-s-002{
    letter-spacing: 0.02em;
}

.letter-s-02{
    letter-spacing: 0.2em;
}

.letter-s-05{
    letter-spacing: 0.5em;
}

.letter-s--01{
    letter-spacing: -0.1em;
}

.letter-s--015{
    letter-spacing: -0.1em;
}

.letter-s--005{
    letter-spacing: -0.05em;
}

.letter-s--025{
    letter-spacing: -0.25em;
}

.letter-s-08{
    letter-spacing: 0.8em;
}

.letter-s-03{
    letter-spacing: .3em;
}

.rotate--90{
    transform: rotate(-90deg);
    bottom: 15%;
    text-align: left;
    left: -27%;
    width: 50%;
}

.rotate--90-vh{
    transform: rotate(-90deg);
    bottom: 4.8vw;
    text-align: left;
    left: -5vw;
    width: 50%;
}

.rotate--90-2{
    transform: rotate(-90deg);
    bottom: 13%;
    text-align: left;
    left: -23%;
    width: 40%;
}

.reedition-rotation{
    transform: rotate(-90deg);
    bottom: 9%;
    right: -18%;
}

.text-1990{
    top: -3%;
}

.title-now{
    letter-spacing: 0.2em;
    padding-bottom: 5px;
}

// ------------------------------ Pour l'inter pas PWA
.popin-liste {
    height: 35em;
    background-color: #fff;
    width: calc(100% - 30px);
    top: 15em;
    right: 10px;
    border-radius: 5px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 20px 6px rgba(0,0,0,.05);

    .arrow-reduce {
        top: 5%;
        left: 5%;
        cursor: pointer;
        transition: 0.2s linear;
    }

    .arrow-delete {
        top: 5%;
        right: 5%;
        cursor: pointer;
        transition: 0.2s linear;
    }

    .popin-liste-title {
        transition: 0.2s linear;

        p {
            letter-spacing: 0.1em;
            height: initial;
            opacity: 1;
            width: initial;
            overflow: hidden;
            transition: 0.5s linear;
        }
    }

    .title-list {
        transition: 0.5s linear;
        height: initial;
        opacity: 1;
        width: initial;
        overflow: hidden;

        h4:before {
            content: "\2022";
            font-size: 30px;
            padding-right: 5px;
            color: #ddbdb1;
        }

        p {
            letter-spacing: 0.05em;
        }
    }
    
    

    input#liste_newsletter_email{
        border : 0 !important;
        border-bottom: 1px solid #d7d7d7 !important;
    }

    #send{
        background-color: #ddbdb1;
        border: 0;
        border-radius: 50px;
        padding: 0 1em;
    }
}

.popin-open {
    .br-close{
        display: none;
    }

    .logo_pwa-OR{
        width: 60%;
    }

    .fs-OR{
        font-size: 2em;
    }

    .octobre-rose{
        &::before{
            content: url("ETAM-home-contents/2020/s42/logoRuban.svg?$staticlink$");
            width: 1.2em;
            position: relative;
            height: 100%;
            padding-right: 5px;
            top: 0em;
        }
    }
}

.popin-close {

    .fs-OR{
        font-size: 1.2em;
    }

    .logo_pwa-OR{
        width: 100%;
    }

    width: 8em;
    height: 4em;


    .popin-liste-title {
        padding-bottom: 0 !important;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -8%;

        h2 {
            text-align: center;
            padding-right: 0;
            white-space: initial;
        }

        p {
            height: 0;
            opacity: 0;
            width: 0;
            overflow: hidden;
        }
    }

    .title-list,
    .arrow-delete {
        height: 0;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    .arrow-reduce {
        transform: rotate(180deg);
        width: 14% !important;
        top: 25% !important;
        left: 3% !important;
    }

    .octobre-rose{
        &::before{
            content: url("ETAM-home-contents/2020/s42/logoRuban.svg?$staticlink$");
            width: 1.5em;
            position: relative;
            height: 100%;
            padding-right: 5px;
            top: 0.7em;
        }
    }
}

// Animation

.zoominout{
    animation: zoominout 3s linear infinite;
}

@keyframes zoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.03,1.03);
    }
    100% {
        transform: scale(1,1);
    }
}

.moveSlideshow{
    animation: moveSlideshow-tab 20s linear infinite;
    @include min1024 {
        animation: moveSlideshow 20s linear infinite;
    }
}

.moveSlideshow:hover{
    animation-play-state : paused;
}

@keyframes moveSlideshow {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-21vw * 7))}
  }

  @keyframes moveSlideshow-tab {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-45vw * 7))}
  }