// CLasse pour la hauteur =>
// Si on veut 100%
// => 

// .x-height-100 : mobile
// .x-height-100-m : tablette
// .x-height-100-l : desktop

@for $i from 5 through 100 {
    @if $i % 5 == 0 {
        .x-height-#{$i}{
            height: #{percentage($i/100)} !important;
        }

        .x-height-auto{
            height: auto !important;
        }

        // Tablette
        @media screen and (min-width: 768px) {
                .x-height-#{$i}-m{
                    height: #{percentage($i/100)} !important;
                }
                .x-height-auto-m{
                    height: auto !important;
                }
        }

        // Desktop
        @media screen and (min-width: 1024px) {
                .x-height-#{$i}-l{
                    height: #{percentage($i/100)} !important;
                }

                .x-height-auto-l{
                    height: auto !important;
                }
        }
    }
}