// Margin de 00 à 100
// En em
// x-margin-t-00{margin-top:0}
// x-margin-t-100{margin-top:10em}

// Exemple =>
// x-margin-t-05{margin-top:0.5em} : mobile (tout quand rien d'autre)
// x-margin-t-05-m{margin-top:0.5em} : tablette
// x-margin-t-05-l{margin-top:0.5em} : desktop

// x-margin-t-50{margin-top:5em} : mobile (tout quand rien d'autre)
// x-margin-t-50-m{margin-top:5em} : tablette
// x-margin-t-50-l{margin-top:5em} : desktop

@for $i from 0 through 20 {

    $iletter: $i*10/2;
    @if $iletter < 10 {
      $iletter: "0" + $iletter
    }

    $i: $i/2;
    .x-margin-b-#{$iletter}{
        margin-bottom: 1em * $i;
    }

    .x-margin-t-#{$iletter}{
        margin-top: 1em * $i;
    }

    .x-margin-r-#{$iletter}{
        margin-right: 1em * $i;
    }

    .x-margin-l-#{$iletter}{
        margin-left: 1em * $i;
    }

    .x-margin-auto{
        margin: auto;
    }

    .x-margin-init{
        margin: initial;
    }

    // PWA
    @media screen and (min-width: 415px) {
        .x-margin-auto-s{
            margin: auto;
        }

        .x-margin-init-s{
            margin: initial;
        }

        .x-margin-b-#{$iletter}-s{
            margin-bottom: 1em * $i;
        }

        .x-margin-t-#{$iletter}-s{
            margin-top: 1em * $i;
        }

        .x-margin-r-#{$iletter}-s{
            margin-right: 1em * $i;
        }

        .x-margin-l-#{$iletter}-s{
            margin-left: 1em * $i;
        }
    }

    // Tablette
    @media screen and (min-width: 768px) {
        .x-margin-auto-m{
            margin: auto;
        }

        .x-margin-init-m{
            margin: initial;
        }

        .x-margin-b-#{$iletter}-m{
            margin-bottom: 1em * $i;
        }

        .x-margin-t-#{$iletter}-m{
            margin-top: 1em * $i;
        }

        .x-margin-r-#{$iletter}-m{
            margin-right: 1em * $i;
        }

        .x-margin-l-#{$iletter}-m{
            margin-left: 1em * $i;
        }
    }

    // Desktop
    @media screen and (min-width: 1024px) {
        .x-margin-auto-l{
            margin: auto;
        }

        .x-margin-init-l{
            margin: initial;
        }

        .x-margin-b-#{$iletter}-l{
            margin-bottom: 1em * $i;
        }

        .x-margin-t-#{$iletter}-l{
            margin-top: 1em * $i;
        }

        .x-margin-r-#{$iletter}-l{
            margin-right: 1em * $i;
        }

        .x-margin-l-#{$iletter}-l{
            margin-left: 1em * $i;
        }
    }
}