// CLasse pour la largeur =>
// Si on veut 100%
// => 

// .x-width-100 : mobile
// .x-width-100-m : tablette
// .x-width-100-l : desktop

.x-flex {
    display: flex;
}

.x-block {
    display: block;
}

@for $i from 5 through 100 {
    @if $i % 5 == 0 {
        .x-width-#{$i}{
            width: #{percentage($i/100)} !important;
        }

        .x-width-auto{
            width: auto !important;
        }

        // Tablette
        @media screen and (min-width: 768px) {
                .x-width-#{$i}-m{
                    width: #{percentage($i/100)} !important;
                }

                .x-width-auto-m{
                    width: auto !important;
                }
        }

        // Desktop
        @media screen and (min-width: 1024px) {
                .x-width-#{$i}-l{
                    width: #{percentage($i/100)} !important;
                }

                .x-width-auto-l{
                    width: auto !important;
                }        
        }
    }
}