// Exemple
// .x-button-classic{
//     @include x-button($color: blue, $font: 12px);
// }
@mixin x-button(
  //Font-mobile
  $font: 2em,
  $Pad: 0.8em 0,
  $largeur: 16em,
  //Font-desktop
  $font-l: 1.4em,
  $font-xl: 1em,
  $Pad-l: 0.9em 0,
  $largeur-l: 19em,
  $largeur-xl: 19em,
  // Color
  $colorborder: $white,
  $bgcolor: transparent,
  $colortext: $white,
  $colorhoverborder: $white,
  $colorhover: $white,
  $colorhovertext: $black,
  // Color desktop
  $colorborder-l: $white,
  $bgcolor-l: transparent,
  $colortext-l: $white,
  $colorhoverborder-l: $white,
  $colorhover-l: $white,
  $colorhovertext-l: $black
) {
  border: 1px $colorborder solid;
  border-radius: 50px;
  width: $largeur;
  padding: $Pad;
  font-size: $font;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  @include min1024() {
    font-size: $font-l;
    padding: $Pad-l;
    width: $largeur-l;
    border: 1px $colorborder-l solid;
    color: $colortext-l;
    background-color: $bgcolor-l;
    // a:hover &,
    &:hover {
      color: $colorhovertext-l;
      border: 1px solid $colorhoverborder-l !important;
    }
    &:before {
      background-color: $colorhover-l;
    }
  }
  @include min1920() {
    font-size: $font-xl;
    width: $largeur-xl;
  }
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $colortext;
  background-color: $bgcolor;
  //Anim
  transition-duration: 250ms;
  text-decoration: none;
  z-index: 1;
  position: relative;
  // a:hover &,
  &:hover {
    transition-duration: 250ms;
    color: $colorhovertext;
    text-decoration: none !important;
    border: 1px solid $colorhoverborder !important;
  }
  // a:hover &:before,
  &:hover:before,
  &:focus:before {
    opacity: 1;
    transform: scaleX(1);
    border-radius: 50px;
  }
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: $colorhover;
    transform: scaleX(0);
    transform-origin: left top;
    pointer-events: none;
    transition: transform 0.2s, opacity 0.2s;
  }
}

@mixin t-button(
  //Font-mobile
  $font: 2em,
  $Pad: 1.5vh 3vh,
  $largeur: 16em,
  //Font-desktop
  $font-m: 1.5em,
  $font-l: 1.2em,
  $font-xl: 1em,
  $Pad-l: 1vh 0,
  $largeur-l: 19em,
  $largeur-xl: 19em,
  // Color
  $colorborder: $white,
  $bgcolor: transparent,
  $colortext: $white,
  $colorhoverborder: $white,
  $colorhover: $white,
  $colorhovertext: $black,
  // Color desktop
  $colorborder-l: $white,
  $bgcolor-l: transparent,
  $colortext-l: $white,
  $colorhoverborder-l: $white,
  $colorhover-l: $white,
  $colorhovertext-l: $black
) {
  border: 1px $colorborder solid;
  border-radius: 50px;
  width: $largeur;
  padding: $Pad;
  font-size: $font;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  grid-template-rows: 100%;
  z-index: 2;
  position: relative;
  @include min680() {
    font-size: $font-m;
  }
  @include min1024() {
    font-size: $font-l;
    padding: $Pad-l;
    width: $largeur-l;
    border: 1px $colorborder-l solid;
    background-color: $bgcolor-l;
    & .text-btn {
      text-transform: uppercase;
      grid-column: 1/-1;
      grid-row: 1/-1;
      justify-self: center;
      align-self: center;
      transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 2;
      color: $colortext-l;
      letter-spacing: 0.06em;
    }
    & .text-btn2 {
      text-transform: uppercase;
      grid-column: 1/-1;
      grid-row: 1/-1;
      justify-self: center;
      align-self: center;
      transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 2;
      color: $colortext-l;
      letter-spacing: 0.06em;
    }
    & .line::before {
      content: "";
      background: $colorhover-l;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-102%);
      opacity: 0;
      border-radius: 50px;
    }
    & .line {
      z-index: 1;
    }
    & .line::after {
      content: "";
      background: $colorhover-l;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateX(102%);
      opacity: 1;
      border-radius: 50px;
    }
    // a:hover &,
    &:hover {
      border: 1px solid $colorhoverborder-l !important;
    }
    &:hover > .line::before {
      transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateX(0);
      opacity: 1;
    }
    &:hover .text-btn {
      color: $colorhovertext-l;
    }
    &:hover .text-btn {
      color: $colorhovertext-l;
      text-decoration: underline;
    }
    &:hover > .line::after {
      transition: none;
      transform: translateX(0);
      opacity: 0;
    }
  }
  @include min1920() {
    font-size: $font-xl;
    width: $largeur-xl;
  }
  & .line {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & .line2 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
  }
  & .text-btn {
    text-transform: uppercase;
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    align-self: center;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
    color: $colortext;
    letter-spacing: 0.06em;
  }
  & .line::before {
    content: "";
    background: $colorhover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-102%);
    opacity: 0;
    border-radius: 50px;
  }
  & .line::after {
    content: "";
    background: $colorhover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateX(102%);
    opacity: 1;
    border-radius: 50px;
  }
  &:hover {
    border: 1px solid $colorhoverborder !important;
  }
  &:hover > .line::before {
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateX(0);
    opacity: 1;
  }
  &:hover .text-btn {
    color: $colorhovertext;
  }
  &:hover > .line::after {
    transition: none;
    transform: translateX(0);
    opacity: 0;
  }
}
