// ---------- BG
.x-bg-brown{
    background-color: #dfc1a7;
}

.x-bg-cocoo{
    background-color: #e4c5b5;
}


// ---------- BG
.x-bg-white{
    background-color: $white;
}

// ---- color mobile --- //
.x-white {
    color: #fff !important;
}

.x-black {
    color: #000 !important;
}

.x-brown-edito {
    color: #e6b19b !important;
}

.x-brown-edito2 {
    color: #b7a291 !important;
}

.x-sugar {
    color: #ebbda7 !important;
}

.x-brown {
    color: #c96e6c !important;
}

.x-pink-solde {
    color: #f98c8a !important;
}

.x-pink-now {
    color: #ec80a9 !important;
}

.x-red {
    color: #c20430 !important;
}

.x-blue {
    color: #004e5a !important;
}

.x-black-border {
    border-color: #000 !important;
}

.x-op-flash {
    color: #ff7c7d !important;
}

.x-loveprice,
.t-loveprice {
    color: #ff92da !important;
}

// ---- color tablette --- //
@media screen and (min-width: 768px) {
    .x-white-m {
        color: #fff !important;
    }
    .x-black-m {
        color: #000 !important;
    }
    .x-sugar-m {
        color: #ebbda7 !important;
    }
    .x-brown-m {
        color: #c96e6c !important;
    }
    .x-red-m {
        color: #c20430 !important;
    }
    .x-blue-m {
        color: #004e5a !important;
    }
    .x-black-border-m {
        border-color: #000 !important;
    }
    .x-op-flash-m {
        color: #ff7c7d !important;
    }
    .x-loveprice-m,
    .t-loveprice-m {
        color: #ff92da !important;
    }
}

// ---- color Desktop --- //
@media screen and (min-width: 1024px) {
    .x-white-l {
        color: #fff !important;
    }
    .x-black-l {
        color: #000 !important;
    }
    .x-sugar-l {
        color: #ebbda7 !important;
    }
    .x-brown-l {
        color: #c96e6c !important;
    }
    .x-red-l {
        color: #c20430 !important;
    }
    .x-blue-l {
        color: #004e5a !important;
    }
    .x-black-border-l {
        border-color: #000 !important;
    }
    .x-op-flash-l {
        color: #ff7c7d !important;
    }
    .x-loveprice-l,
    .t-loveprice-l {
        color: #ff92da !important;
    }
}