// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//            ❯ CLEARFIX            //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//  For modern browsers
//  1. The space content is one way to avoid an Opera bug when the
//  `contenteditable` attribute is included anywhere else in the document.
//  Otherwise it causes space to appear at the top and bottom of elements
//  2. The use of `table` rather than `block` is only necessary if using
//  ":before" to contain the top-margins of child elements.
.clearfix {
    &:before,
    &:after {
        display: table; // 2
        content: " "; // 1
    }
    &:after {
        clear: both;
    }
}

//Iframe 16/9 "adapdatif" Desktop
.x-youtube{
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
    iframe{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.x-mirror{
    transform: scaleX(-1);
}

.x-fit-cover{
    object-fit: cover;
    object-position: center;
}

.x-fit-contain{
    object-fit: contain;
    object-position: center;
}

.x-mention-BR{
    bottom: 2.5%;
    right: 2.5%;
}

.x-arrondi{
    border-radius: 50%;
}

.x-top-00{
    top: 0;
}

.x-bot-00{
    bottom: 0;
}

.x-bot-02{
    bottom: 2%;
}

.x-bot-05{
    bottom: 5%;
}

.x-left-00{
    left: 0;
}

.x-right-00{
    right: 0;
}

