$color-Init : #ddbdb1;
// $color-Init : #ec80a9;

.remove {
    transform: translateX(200%);
    opacity: 0;
}

.jolie-offre{
    position: fixed;
    right: 2%;
    // top: 60vh;
    border-radius: 5px;
    width: 80vw;
    @include min768 {
        width: 60vw;
    }
    @include min1024 {
        width: 28vw;
    }
    height: 35vh;
    -webkit-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.05);
    transition: all 0.4s;

    .cross{
        border: 1px solid $color-Init;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -6%;
        right: -4%;
        color: $white;
        background-color: $color-Init;
        cursor: pointer;

        font-size: 2em;
        @include min1024 {
            font-size: 1em;
        }
    }

    .jolie-offre-item{

    }

    h3.jolie-title{
        color : $color-Init;
        letter-spacing: 0.8em;
    }
    
    .swiper-pagination{
        position: relative!important;
        top: 0!important;
        right: 0!important;
    }

    .swiper-container-vertical>.swiper-pagination-bullets {
        display: flex!important;
        flex-direction: row!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .swiper-pagination-bullet {
        margin: 0 1px!important;
        width: 6px!important;
        height: 6px!important;
        opacity: 1!important;
        background-color : $color-Init!important;
    }

    .swiper-pagination-bullet-active{
        background-color : $black!important;
    }

    .jolie-bouton{
        .swiper-button-prev,.swiper-button-next{
            background-color: transparent!important;
            border-radius: 50%!important;
            border: $color-Init solid 1px!important;
            top: 0!important;
            position: relative!important;
            margin: 0 5px!important;
            left: 0!important;

            height: 5em!important;
            width: 5em!important;
            @include min1024 {
                height: 1.5em!important;
                width: 1.5em!important;
            }

        }

        .swiper-button-next:after, .swiper-button-prev:after{
            font-size: 2em!important;
            @include min1024 {
                font-size: 1em!important;
            }
            color: $color-Init!important;
            position: relative;
        }
    }

    #liste_newsletter_email{
        border-bottom: 1px solid #c1c0bf !important;
    }

    #send{
        border-radius: 50px;
        padding: 0.1em 1em;
        border: 0px solid $color-Init;
        background-color: $color-Init;
        color: $black;
        cursor: pointer;
    }

    #liste_newsletter_email-error{
        left: 14%;
        top: 100%;
        width: auto !important;
        position: absolute !important;
        color: $color-Init !important;
    }

}