// ------- Block ----- //
.display-desktop{
    display: none !important;
    @include min1024() {
        display: block !important;
    }
}

.display-mobile{
    display: block !important;
    @include min1024() {
        display: none !important;
    }
}

// ------- Flex ----- //
.display-mobile-flex{
    display: flex !important;
    @include min1024() {
        display: none !important;
    }
}

.display-desktop-flex{
    display: none !important;
    @include min1024() {
        display: flex !important;
    }
}

// ------- GRID ----- //
.display-mobile-grid{
    display: grid !important;
    @include min1024() {
        display: none !important;
    }
}

.display-desktop-grid{
    display: none !important;
    @include min1024() {
        display: grid !important;
    }
}


// ------- Inline ----- //
.mobile {
    display: none;
    @include min768() {
        display: inline-block;
    }
}

.desktop {
    display: inline-block;
    @include min1024() {
        display: none;
    }
}

// ---- Pour les BR ---- //
.desktop-space {
    display: contents;
    @include min1024() {
        display: none;
    }
}

.mobile-space {
    display: none;
    @include min1024() {
        display: contents;
    }
}

.nowrap{
    white-space: nowrap;
}