main, h1, h2  {
    font-size: 1vw;
}

#main {
    // Pour Mac
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: baseline;
    line-height: 1;

    // Marge
    max-width: 100% !important;
    width: 100%;
}


span,
h2,
h3,
h4,
h5,
ul{
    margin: 0;
    padding: 0;
    border: 0;
}

.openpopinml {
    cursor: pointer;
    font-size: 12px;

    .underligned {
        text-decoration: underline;
    }
}

.popinml {
    padding: 50px;
    height: auto !important;
}

.x-italique{
    font-style: italic;
}

// Image a 100% => image background
.hp-2020 {
    overflow: hidden;

    img {
        height: auto;
        max-width: 100%;
        display: block;
        //width: 100%;
    }
}