$white: white;
$black: black;
$flashOrange: #ff8d6b;
$soldePink: #f98c8a;
$citoyenColor: #fecc18;
$lovePrice: #fdaae3;
$op-flash: #ff7c7d;

.x-standard-b {
  @include x-button();
}

.x-standard-double {
  @include x-button($largeur: 90%);
}

.bouton-smoon {
  @include x-button(
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.x-bouton-white {
  @include x-button(
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.x-bouton-black {
  @include x-button(
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.x-bouton-black__coq {
  @include x-button(
    // Color
    $font-l: 0.5em,
    $font-xl: 0.5em,
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.x-bouton-white-black {
  @include x-button(
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.x-bouton-black-white {
  @include x-button(
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.x-btn-buy-white {
  @include x-button(
    $largeur: 13em,
    $largeur-l: 14em,
    $largeur-xl: 14em,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.t-btn-black {
  @include t-button(
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.t-btn-white {
  @include t-button(
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.t-btn-white2 {
  @include t-button(
    // Color
    $colorborder: $white,
    $colortext: $black,
    $colorhoverborder: $white,
    $bgcolor: $white,
    $colorhover: $op-flash,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $black,
    $bgcolor-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.t-btn-citoyenne {
  @include t-button(
    $largeur: 12em,
    $largeur-l: 12em,
    $largeur-xl: 12em,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $citoyenColor,
    $colorhover: $citoyenColor,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $citoyenColor,
    $colorhover-l: $citoyenColor,
    $colorhovertext-l: $black
  );
}

.t-btn-buy-white {
  @include t-button(
    $largeur: 9em,
    $largeur-l: 10em,
    $largeur-xl: 10em,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.t-btn-buy-black {
  @include t-button(
    $largeur: 9em,
    $largeur-l: 10em,
    $largeur-xl: 10em,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.t-btn-buy-white__DE {
  @include t-button(
    $largeur: 13em,
    $largeur-l: 13em,
    $largeur-xl: 13em,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.t-btn-buy-black__DE {
  @include t-button(
    $largeur: 13em,
    $largeur-l: 13em,
    $largeur-xl: 13em,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.t-btn-white-black {
  @include t-button(
    $largeur: 12em,
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.t-btn-buy-white-black {
  @include t-button(
    $largeur: 9em,
    $largeur-l: 10em,
    $largeur-xl: 10em,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.x-btn-four-solde {
  @include x-button(
    $largeur: 12em,
    $largeur-l: 13em,
    $largeur-xl: 19em,
    // Color
    $colorborder: $soldePink,
    $colortext: $soldePink,
    $colorhoverborder: $soldePink,
    $colorhover: $soldePink,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $soldePink,
    $colortext-l: $soldePink,
    $colorhoverborder-l: $soldePink,
    $colorhover-l: $soldePink,
    $colorhovertext-l: $white
  );
}

.t-btn-solde {
  @include t-button(
    $largeur-l: 9em,
    $largeur-xl: 19em,
    $Pad-l: 0.8em 0,
    // Color
    $colorborder: $soldePink,
    $colortext: $soldePink,
    $colorhoverborder: $soldePink,
    $colorhover: $soldePink,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $soldePink,
    $colortext-l: $soldePink,
    $colorhoverborder-l: $soldePink,
    $colorhover-l: $soldePink,
    $colorhovertext-l: $white
  );
}

.t-btn-loveprice {
  @include t-button(
    $largeur-l: 12em,
    $largeur-xl: 13em,
    $Pad-l: 0.7em 0,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $lovePrice,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $lovePrice
  );
}

.t-btn-loveprice-pink {
  @include t-button(
    $largeur-l: 12em,
    $largeur-xl: 13em,
    $Pad-l: 0.7em 0,
    // Color
    $colorborder: #ff92da,
    $colortext: #ff92da,
    $colorhoverborder: #ff92da,
    $colorhover: #ff92da,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: #ff92da,
    $colortext-l: #ff92da,
    $colorhoverborder-l: #ff92da,
    $colorhover-l: #ff92da,
    $colorhovertext-l: $white
  );
}

.t-btn-loveprice__DE {
  @include t-button(
    $largeur-l: 13em,
    $largeur-xl: 13em,
    $Pad-l: 0.7em 0,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $lovePrice,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $lovePrice
  );
}

.t-btn-buy-loveprice {
  @include t-button(
    $largeur-l: 9em,
    $largeur-xl: 13em,
    $Pad-l: 0.7em 0,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $lovePrice,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $lovePrice
  );
}

.t-btn-flash {
  @include t-button(
    $largeur-l: 19em,
    $largeur-xl: 19em,
    $Pad-l: 0.8em 0,
    // Color
    $colorborder: $flashOrange,
    $colortext: $flashOrange,
    $colorhoverborder: $flashOrange,
    $colorhover: $flashOrange,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $flashOrange,
    $colortext-l: $flashOrange,
    $colorhoverborder-l: $flashOrange,
    $colorhover-l: $flashOrange,
    $colorhovertext-l: $white
  );
}

// NEW Button Updated
.btn-buy-white {
  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.btn-buy-black {
  @include t-button(
    $font: 1.5em,
    $font-m: 1em,
    $font-l: 0.65em,
    $font-xl: 0.8em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.btn-black-liste {
  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.btn-buy-white-black {
  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}

.btn-buy-black-white {
  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}

.btn-buy-white-bg {
  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $bgcolor: $white,
    $colorborder: $white,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $bgcolor-l: $white,
    $colorborder-l: $white,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );

  .line {
    background-color: $white;
  }
}

.btn-buy-black-bg {
  background-color: black !important;

  @include t-button(
    $font: 3em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 4vh,
    $Pad-l: 1vh 3vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $bgcolor: $black,
    $colorborder: $black,
    $colortext: $white,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $bgcolor-l: $black,
    $colorborder-l: $black,
    $colortext-l: $white,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );

  .line {
    background-color: $black;
  }
}

.btn-buy-black-PWA {
  @include t-button(
    $font: 2em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1.5vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}
.btn-buy-black-list {
  @include t-button(
    $font: 1.5em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $black,
    $colortext: $black,
    $colorhoverborder: $black,
    $colorhover: $black,
    $colorhovertext: $white,
    // Color desktop
    $colorborder-l: $black,
    $colortext-l: $black,
    $colorhoverborder-l: $black,
    $colorhover-l: $black,
    $colorhovertext-l: $white
  );
}
.btn-buy-white-PWA {
  @include t-button(
    $font: 2em,
    $font-m: 2em,
    $font-l: 0.65em,
    $font-xl: 0.65em,
    $Pad: 1.5vh 3vh,
    $Pad-l: 1vh 4vh,
    $largeur: initial,
    $largeur-l: initial,
    $largeur-xl: initial,
    // Color
    $colorborder: $white,
    $colortext: $white,
    $colorhoverborder: $white,
    $colorhover: $white,
    $colorhovertext: $black,
    // Color desktop
    $colorborder-l: $white,
    $colortext-l: $white,
    $colorhoverborder-l: $white,
    $colorhover-l: $white,
    $colorhovertext-l: $black
  );
}
// FIN NEW Button Updated

// Bloc pyjama MIX
.bouton_pyjama {
  z-index: 10;
  width: 100% !important;
  padding: 1% 2em !important;
  font-size: 0.7em !important;
  margin-top: 1em !important;
}

// Drills
.bouton-cta {
  width: 70% !important;
  padding: 5% 0 !important;
  bottom: 3em;
  position: absolute;
}
